body {
    /*background-color: #454545;*/
}

canvas {
    border: 3px solid #454545;
    /*background-color: aliceblue;*/
}

#generate.working {
    cursor: not-allowed;
}

.gen-parent {
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.loader {
    display: none;
    margin-left: 10px;
}

.loader.active {
    display: block;
}